.chats-page {
  background: #F2F2F2;
  display: flex;
  padding: 0;
  min-height: calc(100vh - 50px);

  &__list {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: calc(100vh - 50px);
    overflow-y: auto;
    background-color: white;

    &__chat.active {
      color: white;
      background-color: #293567;
    }

    &__chat {
      position: relative;
      display: flex;
      cursor: pointer;
      width: 100%;

      &__img {
        width: 59px;
        height: 59px;
        border-radius: 75px;
        margin-right: 16px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 19px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 150px;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 15px;

        &__name {
          margin-bottom: 9px;
          font-weight: bold;
          font-size: 18px;
        }
        &__short-msg {
          font-size: 16px;
        }
      }

      &__time {
        position: absolute;
        top: 19px;
        right: 12px;
      }
    }
  }

  &__chat-block {
    width: 65%;
    flex-direction: column;
    position: relative;

    &__header {
      background-color: #293567;
      display: flex;
      align-items: center;
      color: white;
      padding-left: 25px;
      padding-top: 12.5px;
      padding-bottom: 12.5px;
      font-size: 18px;

      &__img {
        width: 61px;
        height: 61px;
        border-radius: 75px;
        margin-right: 20px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 150px;
          cursor: pointer;
        }
      }
      span {
        cursor: pointer;
      }
    }

    &__messages {
      height: calc(100vh - 209px);
      background-color: #ffffff;
      overflow-y: auto;

      &.not-active {
        height: calc(100vh - 123px);
      }

      .msg-out {
        justify-content: flex-end;
      }

      &__msg {
        padding-top: 31px;
        position:relative;
        display: flex;

        .lawyer {
          position: relative;
          padding-top: 18px;
          padding-bottom: 17px;
          padding-left: 37px;
          padding-right: 38px;
          display: inline-block;
          min-width: 177px;
          text-align: center;
          background-color: #454545;
          color: white;
          border-radius: 16px;
          margin-left: 30px;
          overflow-wrap: break-word;
          white-space: pre-wrap;

          .timestamp {
            position: absolute;
            font-size: 8px;
            left: 10px;
          }
        }

        .client {
          position: relative;
          padding-top: 18px;
          padding-bottom: 17px;
          padding-left: 37px;
          padding-right: 38px;
          display: inline-block;
          min-width: 177px;
          text-align: center;
          background-color: #D3D3D3;
          border-radius: 16px;
          margin-right: 20px;
          overflow-wrap: break-word;
          white-space: pre-wrap;
          color: $blue-3;

          .timestamp {
            position: absolute;
            font-size: 8px;
            right: 10px;
          }
        }

        .withFile {
          display: flex;
          flex-direction: column;
          text-align: start;
          padding-bottom: 10px;

          img {
            max-width: 263px;
            margin-bottom: 7px;
            border-radius: 9px;
          }

          .timestamp {
            bottom: 10px;
          }
        }
      }

      &__msg:first-child {
        padding-top: 40px;
      }

      &__msg:last-child {
        padding-bottom: 20px;
      }
    }

    &__footer {
      padding: 8px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 100%;
      min-height: 66px;
      background-color: #293567;

      button {
        width: 41px;
        height: 41px;
        border-radius: 50px;
        background-color:#FFFFFF;
        margin: 8px 0;
      }

      button:first-child {
        margin-left: 20px;
      }

      button:last-child {
        margin-right: 20px;
      }

      &__input-block {
        box-sizing: border-box;
        flex: 1 1 auto;
        width: inherit;
        min-width: 0;
        min-height: 20px;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        outline: none;
        will-change: width;
        padding: 9px 12px 11px;
        margin: 8px 10px;
        background-color: #ffffff;
        border-radius: 21px;

        &__input {
          min-height: 20px;
          background-color: white;
          outline: none;
          max-height: 100px;
          word-wrap: break-word;
          white-space: pre-wrap;
          overflow-x: hidden;
          overflow-y: auto;
          -webkit-user-select: text;
          -moz-user-select: text;
          -ms-user-select: text;
          user-select: text;
        }
      }
    }
  }
  @media (max-width: 720px) {
    &__chat-block {
      width: 100%;
      display: none;
      position: relative;

      &__header {
        padding-left: 50px;
      }

      &__return {
        position: absolute;
        left: 15px;
        top: 30px;
      }
      &__footer {
        position: fixed;
        bottom: 0;
        width: 100%;

        &__input-block {
          flex: 1 20 auto;
        }
      }
    }
    &__list {
      width: 100%;
      &__chat:not(:last-child) {
        border-bottom: 1px solid $blue-3;
      }
    }
  }

  .showMobile {
    display: block !important;
  }

  .hiddenMobile {
    display: none;
  }

  .previewImgBlock {
    display: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100vh - 136px);
    top: 86px;
    background-color: #F2F2F2;

    .previewHeader {
      font-size: 30px;
      width: 100%;
      text-indent: 25px;
      span {
        cursor: pointer;
      }
    }

    img {
      display: block;
      width: auto;
      height: 80%;
    }

    .msgBlock {
      width: 80%;
      display: flex;
      justify-content: space-between;

      button{
        width: 41px;
        height: 41px;
        border-radius: 50px;
        background-color: #FFFFFF;
        margin: 8px 0;
      }

      .inputBlock {
        box-sizing: border-box;
        min-width: 93%;
        min-height: 20px;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        outline: none;
        will-change: width;
        padding: 9px 12px 11px;
        margin: 8px 10px;
        background-color: #ffffff;
        border-radius: 21px;

        .contentInput {
          min-height: 20px;
          background-color: white;
          outline: none;
          max-height: 100px;
          word-wrap: break-word;
          white-space: pre-wrap;
          overflow-x: hidden;
          overflow-y: auto;
          -webkit-user-select: text;
          -moz-user-select: text;
          -ms-user-select: text;
          user-select: text;
        }
      }
    }
  }

  .showPreview {
    display: flex;
  }
}
