.index-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__logo {
    width: 226.47px;
    height: auto;
    object-fit: contain;
    margin-bottom: 70px;
  }

  h1, &__login {
    color: $blue-0;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
  }

  h1 {
    margin-bottom: 40px;
  }

  &__login {
    text-decoration: none;
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 52px;

    a {
      font-size: 20px;
      line-height: 1;
      background: $blue-3;
      padding: 14px;
      border-radius: 7px;
      color: #fff;
      text-decoration: none;
      width: 172px;
      text-align: center;

      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

@media (max-width: 450px) {
  .index-page {
    &__logo {
      width: 280px;
    }

    &__buttons {
      a {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
