.lawyer-cases {
  &__selector {
    display: flex;
    justify-content: center;

    button.active {
      background-color: $blue-3;
      color: #FFFFFF;
    }

    button {
      background-color: #FFFFFF;
      border: 1px solid #DBDCE1;
      font-size: 22px;
      color: $blue-3;
      width: 208px;
      padding: 8.5px 0;
    }

    button:first-child {
      border-radius: 99px 0 0 99px;
    }

    button:last-child {
      border-radius: 0 99px 99px 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    max-width: 1056px;
    margin-left: auto;
    margin-right: auto;

    &__case:hover {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
      transition: .2s ease-in-out;
    }

    &__case {
      background: #ffffff;
      border-radius: 20px;
      margin-left: 25px;
      margin-right: 25px;
      width: 302px;
      margin-bottom: 50px;

      &__title {
        background-color: $blue-3;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        color: #ffffff;
        padding: 8px 0;
      }

      &__img {
        width: 124px;
        height: 124px;
        border-radius: 151px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;
        margin-bottom: 23px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 150px;
        }
      }

      &__case-descr {
        margin: 0 28px;
        color: $blue-3;
        font-size: 15px;
        border-bottom: 1px solid rgba(26, 37, 82, 0.2);
        width: 188.5px;
        padding-bottom: 5px;
      }

      &__description {
        font-size: 16px;
        padding: 0 28px;
        margin-top: 9px;
        margin-bottom: 29px;
        color: #4A4A4A;
      }

      &__date {
        text-align: center;
        padding-bottom: 8px;
        max-width: 180px;
        margin: 0 auto;
        color: $blue-3;
      }

      &__separator {
        width: 180px;
        border-bottom: 0.5px solid $blue-3;
        margin: 0 auto;
        margin-bottom: 22px;
      }

      &__btns {
        display: flex;
        flex-direction: column;
        max-width: 214px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 21px;

        &__btn-def {
          color: $blue-3;
          background-color: #E3E3E3;
          margin-bottom: 11px;
          border-radius: 5px;
          font-size: 15px;
          text-align: center;
          padding: 4px 0px;
        }

        &__btn-def:hover {
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
          transition: .2s ease-in-out;
        }

        &__btn-blue {
          color: #ffffff;
          background-color: $blue-3;
          border-radius: 5px;
          font-size: 15px;
          padding: 4px 0px;
        }

        &__btn-blue:hover {
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
          transition: .2s ease-in-out;
        }

        &__btn-del {
          background: #454545;
          color: #ffffff;
          font-size: 15px;
          border-radius: 5px;
          margin-top: 15px;
          padding: 4px 0px;
        }

        &__btn-del:hover {
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
          transition: .2s ease-in-out;
        }
      }
    }

    &__add-case {
      width: 302px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
